body{
    font-family: "Montserrat-Black";
}

h1{
    font-size: 10rem;
}

h2{
    font-size: 7rem;
}

h3{
    font-size: 4rem;
    color: #408061;
}

h5{
    font-size: 3rem;
    color: #7DBB9D;
}

h4{
    font-size: 2.5rem;
    color: #000;
}

p{
    font-size: 1.5rem;
    color: #000;
}

/* Navigation bar */

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.navbar{
    padding:0 0 4.5rem 0;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}    

#first{
    display: flex;
    background-image: url("images/page.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100% 100%;
    color: #fff;
    height: 755px;
}

.container-fluid{
    padding: 8px 50px;
    background-color: #398377;
    height: 100px;
    display: block;
    margin-top: 50px;
    text-decoration: none;
}

.big-heading{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

.design{
    margin-left: 50%;
    position: absolute;
    display: flex;
    margin-top: 150px;
    opacity: 50%;
}

#text-1{
    position: absolute;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 150px;
    margin-left: 55%;
}

#text-2{
    position: absolute;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 450px;
    margin-left: 25px;

}

.img{
    margin-right: 50px;
    float: left;
}

.writes{
    margin-top: 20px;
}

#third{
    width:100%;
    background-color: #BBEFD6;
}

.align h3{
    padding-top: 30px;
    margin-top: 70px;
    text-align: center;
    color: #000;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

#third img{
    padding-bottom: 25px;
    border-radius: 25%;
}

#third p{
    text-align: left;
    padding-left: 25px;
    font-size: 1.5rem;
}

#third h4{
    text-align: left;
    padding-left: 25px;
    padding-bottom: 10px;
}

#fourth h3{
    text-align: center;
    color: #000;
}

#fourth{
    padding: 50px;
    text-align: center;
}

.pricing{
    padding: 3% 2%;
}

#fourth h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-Bold";
}

#fourth h2{
    font-size: 3rem;
    line-height: 1.5;
}

#fourth h3{
    font-size: 3.5rem;
}

#fourth p{
    text-align: left;
    padding-left: 50px;
}

#fifth{
    background-color: #BBEFD6;
    width: 100%;
}


.map{
    float: right;
    padding-right: 50px;
    padding-top: 50px;
}

.content{
    padding-top: 50px;
    padding-left: 50px;
}

#fifth h3,p,h5{
    color: #000;
}

#fifth h5{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
}

#fifth p{
    padding: 5px;
}

#fifth{
    padding-bottom: 50px;
}

.social-icon{
    margin: 20px 10px;
}

#footer{
    text-align: center;
    padding-top: 10px;
}

#footer p{
    font-size: 1rem;
}

.tech{
    display: flex;
    position: absolute;
    margin-top: 150px;
    opacity: 50%;
}